.team {
  background-color: #f4f4fd;
}

.team-list {
  list-style: none;
}

.team-item {
  background-color: #fff;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;
}

.team-role {
  text-align: center;
}
